{% extends "blog/base.html" %}
{% block content %}
    <h1>Site da Tutoria NovaMente</h1>
    <br><br>

  
   <div style='width:50%' class="container">
        <h3>BEM-VINDO</h3>

   <br><br>
        <p>
                Novamente ou Nova Psicanálise - é a prática freudiana atuante no ambiente psicotecnológico do século 21.
                 Iniciado com a fundação do Colégio Freudiano / RJ por MD Magno em 1975, este movimento produziu uma nova
                  formatação da psicanálise e estendeu as possibilidades de sua intervenção a todos os acontecimentos do mundo.
        </p>
   </div> 

{% endblock content %}
