{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="pt_BR" property="og:locale"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abel|Kenia|Open+Sans+Condensed:300" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <script src="{% static 'blog/main.js' %}"></script>
    {% if title %}
        <title>Gnomos - {{ title }}</title>
    {% else %}
        <title>Gnomos</title>
    {% endif %}
</head>
<body>
    
    <header class="site-header">
        
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <img style='margin-left:15px; width:50px; ' src="{% static 'revir.png' %}" alt="falha ao carregar imagem">
        
            <div class="container">
              <button style='position:absolute;right:0;top:0;margin:10px;'class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
            
            <div class="navbar-nav mr-auto">
                <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">SóPapos</a>
                <a class="nav-item nav-link" href="{% url 'arquivos' %}">Arquivos</a>
                <!-- <a class="nav-item nav-link" href="{% url 'blog-home' %}">Séde</a> -->
                <a class="nav-item nav-link" href="{% url 'avisos' %}">Avisos</a>
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">Sobre</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                  {% if user.is_superuser %}

                      <div class="dropdown show">
                          <a style='color:rgb(0, 225, 255)' class=" nav-item nav-link dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ADMIN
                          </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <a class="dropdown-item"  href="{% url 'participantes' %}">Gnomos</a>
                                  <a class="dropdown-item"  href="{% url 'novo' %}">cadastrar e-mail</a>
                                  <a class="dropdown-item"  href="{% url 'permitidos' %}">cadastrados</a>
                                  <a class="dropdown-item"  href="admin/">Admin</a>
                          </div>
                      </div>
                      <!-- <a class="nav-item nav-link" href="{% url 'participantes' %}">Gnomos</a>
                      <a class="nav-item nav-link" href="{% url 'novo' %}">cadastrar e-mail</a>
                      <a class="nav-item nav-link" href="{% url 'novo' %}">cadastrar e-mail</a> -->
                  {% endif %} 
                <a class="nav-item nav-link" href="{% url 'post-create' %}">Novo Post</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Gnomo</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Registre-se</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <br>
      <div class="row">
         <div class="col-md-2">
              <!-- <div class="content-section" style="font-family: 'Kenia', cursive;"> -->
                
                <!-- <p class='text-muted'>
                  <ul style='position:fixed' class="list-group">
                        <li class="list-group-item list-group-item-light "><a style='' class=" nav-item nav-link dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false""><span class='glyphicon glyphicon-filter'></span></a>      
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <a class="dropdown-item"  href="{% url 'blog-videos' %}">Videos</a>
                                      <a class="dropdown-item"  href="{% url 'blog-imagens' %}">imagens</a>
                                      <a class="dropdown-item"  href="{% url 'blog-home' %}">tudo</a>     
                              </div>
                        
                        </li>
                        
                        <li class="list-group-item list-group-item-light"><a href=""><span class='glyphicon glyphicon-search'></span></a></li>
                        <!-- <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>  -->
                  </ul>
                </p> 
          
          
       </div> 
        <div class="col-md-10">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
